/* descriptions // font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
/* nav/title // font-family: 'Audiowide', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* reset */
*{
  margin: 0;
  padding: 0;
  --font-title-nav: 'Audiowide', cursive;
  --font-desc: 'Caveat', cursive;
  --primary-bg-color: #F5E6E6;
  --secondary-bg-color: #F8EDED;
  --primary-font-color: #707070;
  --secondary-font-color: #070404;
}
.body{
  color: var(--primary-font-color);
}
.header,
.footer,
.fixed-nav{
  background-color: var(--primary-bg-color);
}
.featured,
.moving-nav{
  background-color: var(--secondary-bg-color);
}
.font-description{
  font-family: var(--font-desc);
}
.font-title-nav{
  font-family: var(--font-title-nav);
}

/* navbar */