// featured
.featured{
    height: auto;   
    @include flexCenter(column);

    #{&}__container{
        @include flexCenter(column);
        @include web-max-width();

        margin-bottom: 2rem;
        width: 100%;
    }
    #{&}__hair,
    #{&}__beauty-permanent,
    #{&}__eyebrows,
    #{&}__nailcare,
    #{&}__waxing{
        @include flexCenter(column);
        margin-top: 1.5rem;
        width: 100%;
    }
    #{&}__main-title{
        font-family: getFont(title-nav);
        font-size: getFontSize(main-title);
        margin-top: 2rem;
    }
    #{&}__info{
        padding: 1rem;
        span{
            font-family: getFont(description);
            font-size: getFontSize(sub-title);
            font-weight: bold;
        }
        p{
            display: none;
            font-family: getFont(description);
            text-indent: 20px;
        }
    }
    #{&}__box{
        width: 100%;
        height: 15rem;
        background: #f5e6e6;
        border-radius: 2.5rem;
    }

    // &--selector{
    //     opacity: 0;
    //     transform: translateY(-80px);
    //     transition: .5s;
    //     transition-delay: .2s;

    //     &.active{
    //         opacity: 1;
    //         transform: translateY(0px);
    //     }
    // }

};
