/* reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  li{
    list-style: none;
  }
}
body{
  color: map-get($font-colors, primary-color );
  background-color: map-get($bg-colors, primary-color );
  .header,
  .featured,
  .footer{
    padding: getPadding(g-padding)
  }
  .featured,
  .moving-nav{
    background-color: map-get($bg-colors, secondary-color );
  }
}