/* reset */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  li{
    list-style: none;
  }
}
body{
  color: map-get($font-colors, primary-color );
  background-color: map-get($bg-colors, primary-color );

  .header{
    background-color: getBgColor(header-bg);
  }
  .featured {
    background-color: getBgColor(featured-bg);
  }
  .footer{
    background-color: getBgColor(footer-bg);
  }
  img{
    width: 100%;
    height: 100%;
  }
}
