/* navbar */
.navbar{
    position: fixed;
    right: 0;
    z-index: 1;
    font-family: getFont(title-nav);
    min-height: 4rem;
    @include flexCenter(row);

    ul li a{
      text-decoration: none;
      color: getFontColor(nav-color);
    }
    
    #{&}__container{
      position: relative;
      width: 100%;
      padding: 0 2rem;
    }
    #{&}__contents{
      position: absolute;
      right: 2rem;
      top: 0;

      ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: getFontSize(nav);
        width: 7rem;
        right: 0;
        top: -15px;

          li:nth-child(2){
            display: none;
            margin: 8px 0;
          }
      } 
    }
    #{&}__li-hr{
      margin: 0px auto;
      border-top: 1px solid #463333;
      padding: 0;
    }
    #{&}__lines{
      position: absolute;
      right: -0.9375rem;
      top: -1.25rem;
      z-index: 1;

      line{
        stroke: #463333;
      }
    }
    #{&}__circle{
      position: absolute;
      right: -3.75rem;
      top: -3.75rem;
      z-index: 0;

      // scroll animation
      ellipse{
        fill: getBgColor(header-bg);
      }
    }

    // set for animation
    #{&}__li-hr{
      visibility: hidden;
    }

    // ws only contents
    #{&}__contents-ws{
      display: none;
    }
    #{&}__logo{
      visibility: hidden;
    }
  }