/* navbar */
.navbar{
    position: fixed;
    right: 0;
    z-index: 1;
    font-family: getFont(title-nav);
    padding-top: .7rem;
  
    ul{
      padding: getPadding(g-padding);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: getFontSize(nav);
      li{
        margin: 0 .5rem;
      }
    }

    #{&}__container{
      position: relative;
    }

    #{&}__contents{
      position: absolute;
      top: 0;
      left: -6rem;
      margin-top: .1rem;
    }

    #{&}__li-hr{
      margin-top: .235rem;
    }

    #{&}__lines{
      margin: 1.5rem;
      position: relative;
      z-index: 1;
    }

    #{&}__circle{
      position: absolute;
      left: -5px;
      z-index: 0;
      top: -50px;
    }

    #{&}__logo{
      display: none;
    }
  }