/* navbar */
.navbar{
    position: fixed;
    right: 0;
    z-index: 1;
    font-family: getFont(title-nav);
    padding-top: 1rem;
  
    ul{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: getFontSize(nav);
      li{
        margin: .125rem 0;
      }
    }
    #{&}__container{
      position: relative;
      width: 10rem;
    }
    #{&}__contents{
      position: absolute;
      right: 1rem;
      top: 0;
    }
    #{&}__li-hr{
      margin-top: .235rem;
      border-top: 2px solid;
      visibility: hidden;
      width: 0;
    }
    #{&}__lines{
      position: absolute;
      right: 1.25rem;
      top: 0;
      z-index: 1;
    }
    #{&}__circle{
      position: absolute;
      right: -1rem;
      top: -2rem;
      z-index: 0;
    }
    #{&}__logo{
      display: none;
    }

    // set for animation
    #{&}__li-hr{
      visibility: hidden;
      width: 0;
    }
    #{&}__contents{
      display: none;
    } 
  }