// responsive medium screen
@include media-md{
    /* navbar */
    .navbar{
        right: unset;
        width: 100%;
        background-color: transparent;
        transition: background-color .5s linear;

        &.active{
            background-color: black;
        }

        #{&}__contents-ws{

            @include flexCenter(row);
            position: unset;
            display: unset;
            width: 100%;
            display: flex;

            ul{
                @include flexCenter(row);

                font-size: getFontSize(nav-ws);
                    li:nth-child(2){
                        margin: 0 .5rem;
                    }
            }

          }

        #{&}__container{
            padding: getPadding(g-padding);
        }

        #{&}__logo{
            display: unset;
            width: 10rem;
            margin-right: auto;
            padding-top: 10px;
        }

        // mobile only contents
        #{&}__lines,
        #{&}__circle{
            display: none;
        }
        #{&}__contents{
            display: none;
        }
    }

    // header
    .header{
        p{
            @include web-max-width-ws();
            font-size: getFontSize(header-description-ws);
        }
    };
  
    // featured
    .featured{
        height: auto;   
        
        @include flexCenter(column);

        #{&}__container{
            @include flexCenter(column);
            @include web-max-width-ws();
        }
        #{&}__hair,
        #{&}__beauty-permanent,
        #{&}__eyebrows,
        #{&}__nailcare,
        #{&}__waxing{
            @include flexCenter(row);
        }
        #{&}__main-title{
            font-size: getFontSize(main-title-ws);
        }
        #{&}__info{
            @include flexCenter(column);
            align-items: flex-start;
            width: 50%;

            span{
                font-size: getFontSize(sub-title-ws);
            }
            p{
                display: unset;
                font-size: getFontSize(featured-description-ws)
            }
        }
        #{&}__box{
            width: 50%;
            height: 20rem;
        }

        div.featured__container div:nth-child(even){
            .featured__box{
                order: 2;
            }
            .featured__info{
                order: 1;
            }
        }
    
    };

    // footer
    .footer{
        #{&}__container{
            @include flexCenter(column);
            @include web-max-width-ws();
        }
        #{&}__title{
            font-size: getFontSize(footer-ws);
        }
        #{&}__logo{
            width: 10rem;;
        }
        #{&}__copyright{
            font-size: getFontSize(footer-copyright-ws);
        }
    }; 

}

// responsive large screen
@include media-lg{
  
}

// responsive x-large screen
@include media-xl{
    .navbar{
        #{&}__container{
            padding: 0 5rem;
        }
    }
}