 /* descriptions // font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
/* nav/title // font-family: 'Itim', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


// css variables
$fonts: (
  "title-nav": ('Itim', cursive),
  "description": ('Caveat', cursive)
);
$font-size: (
  // nav
  "nav": 18px,
  "nav-ws": 20px,
  // header
  "header-description":  30px,
  "header-description-ws":  40px,
  // featured
  "main-title": 40px,
  "sub-title": 30px,
  "main-title-ws": 55px,
  "sub-title-ws": 40px,
  "featured-description-ws": 30px,
  // footer        
  "footer": 40px,
  "footer-copyright": 20px,
  "footer-icon": 48px,
  "footer-ws": 55px,
  "footer-copyright-ws": 30px,
  "footer-icon-ws": 48px
 

);
$bg-colors: (
  "primary-color": #F5E6E6,
  "secondary-color": #F8EDED
);
$font-colors: (
  "primary-color": #707070,
  "secondary-color": #070404
);
$padding: (
  "g-padding" : 0 2rem
);

// functions
@function getFont($target){
    @return map-get($fonts, $target)
};
@function getFontSize($target){
    @return map-get($font-size, $target)
};
@function getBgColor($target){
    @return map-get($bg-colors, $target)
};
@function getFontColor($target){
    @return map-get($font-colors, $target)
};
@function getPadding($target){
    @return map-get($padding, $target)
};

// reusable css
@mixin flexCenter($direction){
    position: relative;
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
};
@mixin web-max-width(){
  max-width:  38rem;
}
@mixin web-max-width-ws(){
  max-width:  80rem;
}

// responsive css
@mixin media-md{
  @media screen and (min-width: 768px){
    @content;
  }
};
@mixin media-lg{
  @media screen and (min-width: 1024px){
    @content;
  }
};
@mixin media-xl{
  @media screen and (min-width: 1600px){
    @content;
  }
};