 /* descriptions // font-family: 'Caveat', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
/* nav/title // font-family: 'Itim', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');


// css variables
$fonts: (
  "title-nav": ('Itim', cursive),
  "description": ('Caveat', cursive)
);
$font-size: (
  // nav
  "nav": 18px,
  "nav-ws": 20px,
  "nav-lg": 25px,
  // header
  "header-description":  20px,
  "header-description-ws":  30px,
  "header-description-lg": 35px,
  // featured
  "f-title": 30px,
  "f-sub-title": 20px,
  "main-title-ws": 55px,
  "sub-title-ws": 40px,
  "featured-description-ws": 30px,
  "f-title-lg": 70px,
  "f-sub-title-lg": 50px,
  "f-desc-lg": 35px,
  // footer        
  "footer": 35px,
  "footer-copyright": 20px,
  "footer-icon": 48px,
  "footer-ws": 55px,
  "footer-copyright-ws": 30px,
  "footer-icon-ws": 48px,
  "footer-title-lg": 70px,
  "footer-cpr-lg":35px,
);
$bg-colors: (
  "primary-color": #F5E6E6,
  "secondary-color": #F8EDED
);
$font-colors: (
  "primary-color": #707070,
  "secondary-color": #070404
);
$padding: (
  "g-padding" : 0 2rem
);
$image-size: (
  "header-mobile": 180px,
  "featured-mobile": 250px,
  "header-md": 200px,
  "featured-md": 400px,
  "header-lg-w": 380px,
  "header-lg-h": 510px,
  "featured-lg": 450px,
);

// functions
@function getFont($target){
    @return map-get($fonts, $target)
};
@function getFontSize($target){
    @return map-get($font-size, $target)
};
@function getBgColor($target){
    @return map-get($bg-colors, $target)
};
@function getFontColor($target){
    @return map-get($font-colors, $target)
};
@function getPadding($target){
    @return map-get($padding, $target)
};
@function getImageSize($target){
  @return map-get($image-size, $target)
};

// reusable css
@mixin flexCenter($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
};
@mixin web-max-width(){
  max-width:  38rem;
}
@mixin web-max-width-ws(){
  max-width:  80rem;
}
@mixin web-max-width-lg(){
  max-width:  75rem;
}


// responsive css
@mixin media-md{
  @media screen and (min-width: 768px){
    @content;
  }
};
@mixin media-lg{
  @media screen and (min-width: 1200px){
    @content;
  }
};
@mixin media-xl{
  @media screen and (min-width: 1600px){
    @content;
  }
};